{% for item in items %}
    <li {{ item.atts | map( (val, att) => "#{att}=\"#{val}\"" ) | join(' ') }}>
        <a {{ item.link_atts | map( (val, att) => "#{att}=\"#{val}\"" ) | join(' ') }}>
            <span>{{ item.name }}</span>
            {% if item.has_children %}
                <span class="expand-toggle" x-on:click.prevent="expanded = ! expanded" x-text="expanded ? '&minus;' : '&plus;'">&plus;</span>
            {% endif %}
        </a>
        {% include "partials/menu.twig" with { menu: item.children, isChild: true } only %}
    </li>
{% endfor %}
