{% for item in links %}
    {% set link = item.link %}
    <li class="{{ [ item.class, itemClass ] | classname | e('html_attr') }}">
        <a class="{{ [ link.class, linkClass ] | classname | e('html_attr') }}" href="{{ link.url | e('esc_url') }}"{{ link.target ? ' target="%s"' | format( link.target | e('html_attr') ) }}><span>{{ link.name }}</span></a>
        {% include "partials/menu.twig" with {
            menu: item.children,
            class: childClass,
            itemClass: childItemClass,
            linkClass: childLinkClass,
        } %}
    </li>
{% endfor %}
