<header class="site__header">
    <div class="container">
        <div class="flex">
            <a href="{{ site.url | e('esc_url') }}">
                <img src="" alt="{{ site.name | e('html_attr') }}">
            </a>
            {% include 'partials/menu.twig' with { menu: main_menu } %}
        </div>
    </div>
</header>
