{{ function('get_header') }}

    <div class="site slide h-full overflow-x-hidden" x-data="offcanvas('slide')" x-bind:class="{ '-active': offcanvasOpen }">

        {% include "partials/offcanvas.twig" %}

        <div class="canvas bg-white" x-bind="canvasEvents">
            {% include 'partials/site-header.twig' %}

            <div class="site__body">{% block page %}{% endblock %}</div>

            {% include 'partials/site-footer.twig' %}
        </div>

    </div>

{{ function('get_footer') }}
