{% extends "base.twig" %}

{% block page %}

    <h1>{{ page_title }}</h1>

    {% if posts %}
        {% for post in posts %}
            {% if not fn('is_singular') %}
                <h2><a href="{{ post.link | e('esc_url') }}">{{ post.title }}</a></h2>
            {% endif %}
            <div>{{ post.content }}</div>
        {% endfor %}
    {% endif %}

{% endblock %}
